In [3]:
import pandas as pd

In [6]:
adult_census = pd.read_csv("../datasets/adult-census.csv")

In [7]:
adult_census.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [8]:
target_column = "class"
adult_census[target_column].value_counts()

class
 <=50K    37155
 >50K     11687
Name: count, dtype: int64

In [ ]:
# numerical_columns = [
#     "age",
# ]
# categorical_columns = [
    
# ]

In [9]:
numerical_columns = [
    "age",
    "education-num",
    "capital-gain",
    "capital-loss",
    "hours-per-week",
]
categorical_columns = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]

In [10]:
all_columns = numerical_columns + categorical_columns + [target_column]

In [11]:
adult_census = adult_census[all_columns]

In [13]:
adult_census.shape

(48842, 14)

Visually inspect the data

In [ ]:
_ = adult_census.hist(figsize=(20, 14))